@media (max-width: 1400px) {
    .main_container {
        max-width: 1270px;
    }

    header {
        .header_wrapper {
            margin-bottom: 80px;

            .logo {
                img {
                    height: 44px;
                }
            }

            .header_menu {
                .menu_link {
                    font-size: 20px;
                }
            }
        }
    }

    .index {
        width: 100%;
        overflow-x: hidden;

        #home {

            .index_bg_1 {
                transform: scale(0.6) translate(-397px, -209px);
            }

            .index_bg_2 {
                transform: translate(-168px, -117px);
            }

            .index_bg_3 {
                transform: scale(0.6) translateX(121px) translateY(-241px);
            }

            .index_bg_4 {
                transform: scale(0.9) translate(57px, -224px);
            }

            .home_top {
                gap: 24px;
                margin-bottom: 50px;

                .text {
                    font-size: 54px;
                }

                .img {
                    img {
                        height: 64px;
                    }

                    .star {
                        width: 24px;
                        height: 24px;
                    }
                }
            }

            .home_body {
                margin-bottom: 50px;
                align-self: stretch;
                align-items: inherit;

                .card {
                    padding: 24px;

                    h3 {
                        font-size: 24px;
                        padding: 0 20px;
                    }
                }
            }

            .home_footer {
                font-size: 24px;

                .img {
                    height: 72px;
                    width: 72px;
                }
            }
        }

        #calculation {
            .calculation_wrapper {
                .amont_type {
                    width: calc(100% - 552px - 30px);

                    .type_item {
                        .title {
                            font-size: 20px;
                        }
                    }
                }

                .calculate {
                    width: 552px;

                    .head {
                        .head_title {
                            font-size: 20px;
                        }
                    }

                    .content {
                        .input_group {
                            flex-direction: column;
                            gap: 20px;

                            .form_control {
                                width: 100%;
                            }

                            .receive_top {
                                display: flex;
                                flex-direction: column-reverse;
                                gap: 12px;
                            }

                            .calculate_btn {
                                bottom: 97px;
                            }
                        }
                    }
                }
            }
        }

        #comment {
            .body {
                .card {
                    padding: 24px;
                }
            }

            .link {
                font-size: 24px;

                .img {
                    height: 72px;
                    width: 72px;
                }
            }
        }
    }
}

@media (min-width: 1100px) {
    header {
        .header_wrapper {
            .header_menu {
                img {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 1100px) {
    .main_container {
        padding: 0 30px;
    }

    header {
        .header_wrapper {
            padding: 20px;
            margin-bottom: 50px;

            .logo {
                img {
                    height: 32px;
                }
            }

            .header_menu {
                .menu_link {
                    display: none;
                }
            }
        }
    }

    .index {
        #home {
            .home_top {
                margin-bottom: 40px;
                gap: 16px;

                .text {
                    font-size: 40px;
                }

                .img {
                    img {
                        height: 46px;
                    }

                    .star {
                        height: 16px;
                        width: 16px;
                    }
                }

                .img_3 {
                    flex-basis: 130px;
                }
            }

            .home_body {
                margin-bottom: 40px;

                .card {
                    padding: 20px;
                    gap: 16px;

                    img {
                        height: 48px;
                        width: 48px;
                        margin-top: 0;
                    }

                    h3 {
                        font-size: 20px;
                        padding: 0;
                        margin-bottom: 0;
                    }
                }
            }

            .home_footer {
                font-size: 20px;
                gap: 16px;
                margin-bottom: 80px;

                .img {
                    width: 56px;
                    height: 56px;

                    img {
                        width: 32px;
                        height: 32px;
                    }
                }
            }
        }

        #calculation {
            .calculation_wrapper {
                .amont_type {
                    display: none;
                }

                .calculate {
                    width: 100%;

                    .head {
                        .head_title {
                            font-size: 18px;
                        }

                        .head_vlue {
                            font-size: 16px;
                        }
                    }

                    .content {
                        position: relative;
                        padding: 20px;
                        padding-top: 59px;
                        gap: 20px;

                        .content_title {
                            width: calc(100% - 40px);
                            position: absolute;
                            display: flex;
                            gap: 64px;
                            justify-content: space-between;
                            align-items: center;
                            top: 20px;

                            h3 {
                                width: 50%;
                                color: var(--ffffff, #FFF);
                                font-family: "Poppins", sans-serif;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 150%;
                            }
                        }

                        .input_group {
                            flex-direction: row;
                            gap: 64px;

                            .sender_top {
                                display: flex;
                                flex-direction: column-reverse;
                                gap: 12px;
                            }

                            .receive_top {
                                gap: 12px;
                            }

                            .form_control {
                                .input {
                                    height: 52px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .contact{
        .contact_title{
            h2{
                font-size: 28px;
                font-style: normal;
                font-weight: 600;
                line-height: 110%;
            }
        }
        .contact_main{
            display: flex;
            flex-direction: column;
            .contact_main_left{
                padding: 20px;
                .contact_block{
                    gap: 20px;
                    .contact_block_text{
                        span{
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 120%;
                        }
                        a{
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 120%;
                            text-decoration-line: underline;
                        }
                    }
                }
            }
            .contact_main_right{
                .contact_block{
                    display: flex;

                    .contact_block_text{
                        p{
                            margin-left: 12px;
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 576px){
    .main_container {
        padding: 0 15px;
    }
    .contact{
        .contact_title{
            text-align: center;
            h2{
                margin-bottom: 30px;
            }
        }
        .contact_main{
            padding-bottom: 60px;
            gap: 15px;
            .contact_main_left{
                padding: 15px;
                gap: 15px;
                .contact_block{
                    gap: 10px;
                    .contact_block_text{
                        span{
                        }
                        a{
                            margin-left: 5px;
                        }
                    }
                }
            }
            .contact_main_right{
                padding: 15px;
                .contact_block{
                    gap: 10px;
                    .contact_block_text{
                        p{
                            font-size: 16px;
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}