@media (max-width: 1400px) {
    .main_container {
        max-width: 1270px;
    }

    header {
        .header_wrapper {
            margin-bottom: 80px;

            .logo {
                img {
                    height: 44px;
                }
            }

            .header_menu {
                .menu_link {
                    font-size: 20px;
                }
            }
        }
    }

    .confirmation {
        .content {
            .content_head {
                h1 {
                    font-size: 20px;
                }
            }
        }
    }

    .index {
        width: 100%;
        overflow-x: hidden;

        #home {

            .index_bg_1 {
                transform: scale(0.6) translate(-397px, -209px);
            }

            .index_bg_2 {
                transform: translate(-168px, -117px);
            }

            .index_bg_3 {
                transform: scale(0.6) translateX(121px) translateY(-241px);
            }

            .index_bg_4 {
                transform: scale(0.9) translate(57px, -224px);
            }

            .home_top {
                gap: 24px;
                margin-bottom: 50px;

                .text {
                    font-size: 54px;
                }

                .img {
                    img {
                        height: 64px;
                    }

                    .star {
                        width: 24px;
                        height: 24px;
                    }
                }
            }

            .home_body {
                margin-bottom: 50px;
                align-self: stretch;
                align-items: inherit;

                .card {
                    padding: 24px;

                    h3 {
                        font-size: 24px;
                        padding: 0 20px;
                    }
                }
            }

            .home_footer {
                font-size: 24px;

                .img {
                    height: 72px;
                    width: 72px;
                }
            }
        }

        #calculation {
            .calculation_wrapper {
                .amont_type {
                    width: calc(100% - 552px - 30px);

                    .type_item {
                        .title {
                            font-size: 20px;
                        }
                    }
                }

                .calculate {
                    width: 552px;

                    .head {
                        .head_title {
                            font-size: 20px;
                        }
                    }

                    .content {
                        .input_group {
                            flex-direction: column;
                            gap: 20px;

                            .form_control {
                                width: 100%;
                            }

                            .receive_top {
                                display: flex;
                                flex-direction: column-reverse;
                                gap: 12px;
                            }

                            .calculate_btn {
                                bottom: 97px;
                            }
                        }
                    }
                }
            }
        }

        #comment {
            .body {
                .card {
                    padding: 24px;
                }
            }

            .link {
                font-size: 24px;

                .img {
                    height: 72px;
                    width: 72px;
                }
            }
        }
    }

    .payment_header {
        .content {
            .line_1 {
                width: 35%;
            }

            .line_2 {
                width: 77%;
            }
        }
    }

    .pending_payment {
        .content {
            .left {
                h1 {
                    font-size: 24px;
                }

                .sender {
                    .money {
                        span {
                            font-size: 24px;
                        }
                    }
                }
                
                .receiver {
                    .money {
                        span {
                            font-size: 24px;
                        }
                    }
                }
            }

            .right {
                h2 {
                    font-size: 20px;
                }

                .copy_value {
                    span {
                        font-size: 24px;
                    }
                }

                .plast_card_value {
                    span {
                        font-size: 24px;
                    }
                }
            }
        }
    }

    .application_payment {
        .content {
            .content_head {
                .title {
                    h1 {
                        font-size: 20px;
                    }

                    .id {
                        font-size: 20px;
                    }
                }
            }

            .content_body {
                .content_item {
                    .item_head {
                        .number {
                            font-size: 20px;
                        }

                        h3 {
                            font-size: 20px;
                        }
                    }

                    .copy {
                        .left {
                            .value {
                                font-size: 24px;
                            }
                        }

                        .right {
                            .value {
                                font-size: 24px;
                            }
                        }
                    }
                }
            }
        }
    }

    .accardion {
        button {
            span {
                font-size: 20px;
            }
        }

        .text {
            font-size: 16px;
        }
    }
}

@media (min-width: 1100px) {
    body {
        overflow: auto !important;
    }

    header {
        .header_wrapper {
            .header_menu {
                img {
                    display: none;
                }
            }
        }

        .mobile_menu {
            display: none;
        }
    }

    .content_title {
        display: none !important;
    }

    .index {
        #calculation {
            .calculation_wrapper {
                .amont_type {
                    .type_item {
                        .close_amount {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .accardion {

    }
}

@media (max-width: 1100px) {
    body {
        width: 100vw;
        overflow-x: hidden;
    }

    .main_container {
        padding: 0 30px;
    }

    header {
        .header_wrapper {
            padding: 20px;
            margin-bottom: 50px;
            position: relative;
            z-index: 6;

            .logo {
                img {
                    height: 32px;
                }
            }

            .header_menu {
                .menu_link {
                    display: none;
                }
            }
        }

        .mobile_menu {
            position: fixed;
            top: 0;
            padding-top: 142px;
            left: -200vw;
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, #02020D 0%, #02020D 100%), #FFF;
            z-index: 5;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            transition: .4s ease all;

            .link {
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 16px;

                .menu_link {
                    color: #FFF;
                    font-family: "Poppins", sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 150%;
                    text-decoration: none;
                }
            }
        }

        .mobile_menu_active {
            left: 0;
        }
    }

    .index {
        #home {
            .index_bg_3 {
                transform: scale(0.5) translateX(180px) translateY(-669px);
            }

            .index_bg_4 {
                transform: scale(0.8) translate(128px, -464px);
            }

            .home_top {
                margin-bottom: 40px;
                gap: 16px;

                .text {
                    font-size: 40px;
                }

                .img {
                    img {
                        height: 46px;
                    }

                    .star {
                        height: 16px;
                        width: 16px;
                    }
                }

                .img_3 {
                    flex-basis: 130px;
                }
            }

            .home_body {
                margin-bottom: 40px;

                .card {
                    padding: 20px;
                    gap: 16px;

                    img {
                        height: 48px;
                        width: 48px;
                        margin-top: 0;
                    }

                    h3 {
                        font-size: 20px;
                        padding: 0;
                        margin-bottom: 0;
                    }
                }
            }

            .home_footer {
                font-size: 20px;
                gap: 16px;
                margin-bottom: 80px;

                .img {
                    width: 56px;
                    height: 56px;

                    img {
                        width: 32px;
                        height: 32px;
                    }
                }
            }
        }

        #calculation {
            margin-bottom: 80px;

            .calculation_wrapper {
                .amont_type {
                    display: none;
                }

                .mobile_amont_type {
                    display: block;
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 6;
                    background: #282831;
                    padding: 30px;

                    .mobil_amount_item {
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: #282831;
                        z-index: 5;
                        width: 100%;
                        height: 100%;
                        padding: 30px;

                        .title {
                            margin-bottom: 20px;
                            font-size: 18px;
                        }

                        .search {
                            margin-bottom: 20px;

                            input {
                                font-size: 16px;
                            }
                        }

                        .buttons {
                            height: 70vh;
                            overflow-y: scroll;
                            padding-bottom: 80px;
                            gap: 16px;
                            position: relative;

                            &::-webkit-scrollbar {
                                display: none;
                            }


                            button {
                                padding: 12px;
                                color: var(--ffffff, #FFF);
                                font-family: "Poppins", sans-serif;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: normal;

                                .img {
                                    width: 42px;
                                    height: 42px;

                                    img {
                                        width: 26px;
                                        height: 26px;
                                    }
                                }

                                .text {
                                    .text_title {
                                        font-size: 16px;
                                    }

                                    .text_value {
                                        font-size: 16px;
                                    }
                                }
                            }
                        }

                        .close_amount {
                            color: var(--ffffff, #FFF);
                            font-family: "Poppins", sans-serif;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;
                            outline: none;
                            border-radius: 8px;
                            background: var(--brand, #6552FE);
                            padding: 12px 24px;
                            border: none;

                            &:hover {
                                border-radius: 8px;
                                background: #4F3FCB;
                            }

                            &::after {
                                position: absolute;
                                content: "";
                                left: 30px;
                                width: calc(100% - 60px);
                                background: linear-gradient(180deg, rgba(40, 40, 49, 0.00) 0%, #282831 100%);
                                height: 80px;
                                transform: translateY(-92px);
                            }
                        }
                    }
                }

                .calculate {
                    width: 100%;

                    .head {
                        .head_title {
                            font-size: 18px;
                        }

                        .head_vlue {
                            font-size: 16px;
                        }
                    }

                    .content {
                        position: relative;
                        padding: 20px;
                        padding-top: 59px;
                        gap: 20px;

                        .content_title {
                            width: calc(100% - 40px);
                            position: absolute;
                            display: flex;
                            gap: 64px;
                            justify-content: space-between;
                            align-items: center;
                            top: 20px;

                            h3 {
                                width: 50%;
                                color: var(--ffffff, #FFF);
                                font-family: "Poppins", sans-serif;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 150%;
                            }
                        }

                        .input_group {
                            flex-direction: row;
                            gap: 64px;

                            .sender_top {
                                display: flex;
                                flex-direction: column-reverse;
                                gap: 12px;
                            }

                            .receive_top {
                                gap: 12px;
                            }

                            .form_control {
                                label {
                                    font-size: 14px;
                                }

                                .input {
                                    height: 52px;

                                    input {
                                        font-size: 16px;
                                    }
                                }
                            }

                            .calculate_btn {
                                bottom: 52px;
                            }

                            .form_control_top {
                                .input {
                                    width: calc(100% - 59px);

                                    .calculate_cender {
                                        position: absolute;
                                        right: 0;
                                        transform: translateX(59px);
                                        border-radius: 8px;
                                        border: 2px solid var(--brand, #6552FE);
                                        background: var(--ffffff, #FFF);
                                        width: 52px;
                                        height: 52px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;

                                        .amount_name {
                                            position: absolute;
                                            right: 75px;
                                        }

                                        img {
                                            width: 28px;
                                            height: 28px;
                                            cursor: pointer;
                                        }
                                    }
                                }
                            }
                        }

                        .check {
                            label {
                                font-size: 14px;

                                img {
                                    width: 20px;
                                    height: 20px;
                                }
                            }
                        }

                        .submit {
                            font-size: 16px;
                        }
                    }
                }
            }
        }

        #comment {
            h1 {
                font-size: 28px;
                margin-bottom: 50px;
            }

            .body {
                gap: 30px;

                .card {
                    width: calc(50% - 15px);

                    .card_head {
                        img {
                            width: 24px;
                            height: 24px;
                            margin-right: 8px;
                        }

                        font-size: 16px;
                    }

                    .card_body {
                        font-size: 16px;
                    }

                    .card_foot {
                        font-size: 16px;
                    }
                }
            }

            .link {
                gap: 16px;
                font-size: 20px;
                margin-bottom: 80px;

                .img {
                    width: 56px;
                    height: 56px;
                }
            }
        }
    }

    .confirmation {
        .content {
            width: calc(100% - 60px);

            .content_head {
                padding: 20px;

                h1 {
                    font-size: 18px;
                }
            }

            .content_body {
                padding: 20px;
                gap: 15px;

                .title {
                    font-size: 16px;
                }

                .card {
                    .card_item {
                        width: calc(50% - 31px);
                        padding: 16px;

                        h2 {
                            font-size: 18px;
                        }

                        .amount {
                            .text {
                                font-size: 16px;
                            }
                        }

                        .information {
                            .information_title {
                                font-size: 16px;
                            }

                            .plast_card {
                                font-size: 16px;
                            }

                            .full_name {
                                font-size: 16px;
                            }
                        }
                    }

                    .icon {
                        width: 32px;
                        height: 32px;
                    }
                }
            }

            .content_foot {
                padding: 20px;
                padding-top: 10px;

                .sender {
                    font-size: 16px;
                }

                .cancel {
                    font-size: 16px;
                }
            }
        }
    }

    footer {
        .text {
            font-size: 14px;
        }
    }

    .application_payment {
        .content {
            padding: 20px;

            .content_head {
                margin-bottom: 30px;

                .title {
                    margin-bottom: 20px;

                    h1 {
                        font-size: 18px;
                    }

                    .id {
                        font-size: 18px;
                    }
                }

                .timer {
                    padding: 15px;

                    .value {
                        .text_wrapper {

                            .time,
                            .text {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }

            .content_body {
                .content_item {
                    .item_head {
                        gap: 15px;
                        margin-bottom: 20px;

                        .number {
                            width: 45px;
                            height: 45px;
                            font-size: 18px;
                        }

                        h3 {
                            font-size: 18px;
                        }
                    }

                    .copy {
                        transform: translateX(-21px);
                        padding: 20px;
                        gap: 20px;
                        width: calc(100% + 42px);
                        border-radius: 0;
                        margin-bottom: 30px;

                        .left {
                            .title {
                                font-size: 16px;
                            }

                            .value {
                                font-size: 20px;
                            }
                        }

                        .right {
                            .title {
                                font-size: 16px;
                            }

                            .value {
                                font-size: 20px;
                            }
                        }
                    }

                    .text {
                        font-size: 16px;
                        padding: 0;
                        margin-bottom: 30px;
                    }
                }

                .warning {
                    padding: 15px;
                    gap: 15px;
                    margin-bottom: 30px;

                    .img {
                        width: 48px;
                        height: 48px;
                    }

                    .text {
                        width: calc(100% - 48px - 15px);
                        font-size: 16px;
                    }
                }
            }

            .content_foot {
                button {
                    font-size: 16px;
                }
            }
        }
    }

    .pending_payment {
        .content {
            flex-direction: column;
            margin-bottom: 80px;

            .left {
                width: 100%;
                padding: 20px;
                position: relative;

                h1 {
                    font-size: 20px;
                    margin-bottom: 20px;
                }

                .id {
                    position: absolute;
                    right: 20px;
                    top: 20px;
                    font-size: 16px;
                }

                .card {
                    display: flex;
                    gap: 30px;
                    width: 100%;

                    .card_item {
                        width: calc(50% - 46px);
                        margin: 0;

                        .title {
                            font-size: 16px;
                        }

                        .money {
                            span {
                                font-size: 20px;
                            }

                            margin-bottom: 6px;
                        }

                        .title_2 {
                            font-size: 16px;
                        }

                        .amount {
                            font-size: 16px;
                        }

                        .rekvisit_name {
                            font-size: 16px;
                        }
                    }

                    .bottom_icon {
                        transform: rotateZ(-90deg);
                    }
                }
            }

            .right {
                width: 100%;
                padding-top: 20px;
                padding-bottom: 20px;

                .right_content {
                    h2 {
                        font-size: 18px;
                        margin-top: 20px;
                        margin-bottom: 20px;
                    }

                    .copy_title , .plast_card_title {
                        font-size: 16px;
                        margin-bottom: 6px;
                    }

                    .copy_value, .plast_card_value {
                        margin-bottom: 20px;

                        span {
                            font-size: 20px;
                        }
                    }

                    .description {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .accardion {
        padding: 20px;

        button {
            span {
                font-size: 18px;
                text-align: left;
            }
        }

        .text {
            font-size: 14px;
            text-align: left;
        }

        .open {
            margin-top: 15px;
        }
    }

    .payment_header {
        .content {
            padding: 20px;

            .payment_item {
                font-size: 16px;
            }

            .line {
                left: 20px;
            }

            .line_1 {
                width: 30%;
            }

            .line_2 {
                width: 65%;
            }

            .line_3 {
                width: calc(100% - 40px);
            }
        }
    }

    .contact {
        .contact_bg_bottom {
            z-index: -1;
        }
        .contact_title {
            h2 {
                font-size: 28px;
                margin-bottom: 50px;
            }
        }

        .contact_main {
            flex-direction: column;
            gap: 30px;

            .contact_main_left {
                gap: 20px;
                padding: 20px;

                .contact_block {
                    .contact_block_text {
                        span, a {
                            font-size: 16px;
                        }
                    }
                }
            }

            .contact_main_right {
                padding: 20px;

                .contact_block {
                    display: flex;
                    align-items: flex-start;
                    gap: 12px;

                    .contact_block_text {
                        p {
                            margin-top: 0;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 650px) {
    .index {
        #home {
            .index_bg_3_mobile {
                display: none;
            }
        }
    }

    .main_container {
        padding: 0 15px;
    }
}

@media (max-width: 650px) {
    .main_container {
        padding: 0px 15px;
    }

    header {
        .header_wrapper {
            padding: 15px;
            margin-bottom: 30px;
        }
    }

    .index {
        #home {

            .index_bg_1,
            .index_bg_2,
            .index_bg_3 {
                display: none;
            }

            .index_bg_3_mobile {
                display: block;
                position: absolute;
                right: 0;
                transform: translateY(330px);
            }

            .home_top {
                justify-content: center;
                gap: 0px;
                margin-bottom: 30px;

                .text {
                    font-size: 32px;
                    text-align: center;
                }

                .img {
                    display: none;
                }
            }

            .home_body {
                flex-direction: column;
                gap: 15px;
                margin-bottom: 30px;


                .card {
                    padding: 15px;

                    img {
                        width: 32px;
                        height: 32px;
                    }

                    h3 {
                        font-size: 20px;

                    }
                }
            }

            .home_footer {
                font-size: 20px;
                margin-bottom: 60px;

                .img {
                    width: 56px;
                    height: 56px;
                }
            }
        }

        .d-none {
            display: none !important;
        }

        #calculation {
            margin-bottom: 60px;

            .calculation_wrapper {
                .mobile_amont_type {
                    .mobil_amount_item {
                        padding: 15px;

                        .title {
                            text-align: center;
                            margin-bottom: 15px;
                        }

                        .search {
                            margin-bottom: 15px;
                        }

                        .close_amount {
                            &::after {
                                width: calc(100% - 30px);
                                left: 15px;
                            }
                        }
                    }
                }

                .calculate {
                    .head {
                        flex-direction: column;
                        gap: 10px;
                        margin-bottom: 15px;

                        .head_title {
                            font-size: 18px;
                        }

                        .head_vlue {
                            font-size: 16px;
                        }
                    }

                    .content {
                        padding: 15px;
                        height: 932px;

                        .content_title {
                            .first {
                                font-size: 18px;
                            }

                            .second {
                                position: absolute;
                                top: 375px;
                                font-size: 18px;
                            }
                        }

                        .input_group {
                            flex-direction: column;

                            .calculate_mobile_1 {
                                position: absolute;
                                top: 54px;
                                flex-direction: column;
                                gap: 0;
                            }

                            .calculate_mobile_2 {
                                position: absolute;
                                top: 135px;

                                label {
                                    gap: 7px;
                                    margin-bottom: 6.5px;

                                    span {
                                        font-size: 16px;
                                    }

                                    img {
                                        width: 18px;
                                        height: 18px;
                                    }
                                }
                            }

                            .calculate_mobile_3 {
                                position: absolute;
                                top: 212.5px;

                                label {
                                    font-size: 16px;
                                }

                                &::after {
                                    opacity: 0.10000000149011612;
                                    background: var(--ffffff, #FFF);
                                    position: absolute;
                                    content: "";
                                    left: 0;
                                    width: 100%;
                                    height: 1px;
                                    transform: translateY(30px);
                                }
                            }

                            .calculate_mobile_4 {
                                top: 360px;
                                position: absolute;
                                z-index: 2;

                                &::before {
                                    content: '';
                                    height: 3px;
                                    width: 10px;
                                    left: 0;
                                    background: #282831;
                                }

                                &::after {
                                    content: '';
                                    height: 3px;
                                    width: 10px;
                                    right: 0;
                                    background-color: #282831;
                                }
                            }

                            .calculate_mobile_5 {
                                position: absolute;
                                top: 418px;
                                flex-direction: column;
                                gap: 12px;

                                label {
                                    margin-bottom: 0;

                                    span {
                                        font-size: 14px;
                                        text-align: left;
                                    }
                                }
                            }

                            .calculate_mobile_6 {
                                position: absolute;
                                top: 499px;

                                label {
                                    margin-bottom: 12px;
                                    font-size: 16px;
                                }
                            }

                            .calculate_mobile_8 {
                                position: absolute;
                                top: 573px;

                                label {
                                    font-size: 16px;
                                }
                            }

                            .calculate_mobile_9 {
                                position: absolute;
                                top: 665px;

                                label {
                                    font-size: 16px;
                                }
                            }
                        }

                        .calculate_mobile_7 {
                            position: absolute;
                            top: 633px;
                            left: 15px;
                            width: calc(100% - 30px);
                        }

                        .calculate_mobile_10 {
                            position: absolute;
                            top: 830px;
                        }

                        .calculate_mobile_11 {
                            position: absolute;
                            top: 868px;
                        }
                    }
                }
            }
        }

        #comment {
            h1 {
                font-size: 28px;
                text-align: center;
                margin-bottom: 30px;
            }

            .body {
                flex-direction: column;
                gap: 15px;
                margin-bottom: 30px;

                .card {
                    width: 100%;
                    padding: 15px;
                }
            }

            .link {
                margin-bottom: 60px;
                font-size: 20px;

                .img {
                    width: 56px;
                    height: 56px;

                }
            }
        }
    }

    .confirmation {
        .content {
            width: calc(100% - 30px);

            .content_head {
                padding: 15px;

                h1 {
                    font-size: 18px;
                }
            }

            .content_body {
                padding: 15px;

                .title {
                    font-size: 16px;
                    margin-bottom: 15px;
                }

                .card {
                    flex-direction: column;
                    gap: 10px;

                    .card_item {
                        width: 100%;
                        padding: 15px;

                        h2 {
                            margin-bottom: 15px;
                        }
                    }

                    .icon {
                        transform: rotateZ(90deg);
                    }
                }
            }

            .content_foot {
                padding: 15px;
                padding-top: 0;
            }
        }
    }

    .comment_modal {
        .content {
            width: calc(100% - 30px);

            .content_head {
                padding: 15px;

                h1 {
                    font-size: 18px;
                }
            }

            .content_body {
                padding: 15px;
                gap: 15px;

                .form_group {
                    gap: 3px;
                    display: flex;
                    flex-direction: column;

                    label {
                        font-size: 16px;
                    }

                    input,
                    textarea {
                        font-size: 16px;
                    }
                }
            }

            .content_foot {
                padding: 15px;
                padding-top: 0;

                button {
                    font-size: 16px;
                }
            }
        }
    }

    .payment_header {
        margin-bottom: 20px;

        .content {
            padding: 15px;
        }
    }

    .pending_payment {
        .content {
            .left {
                padding: 15px;

                h1 {
                    margin-bottom: 5px;
                }

                .id {
                    position: static;
                    margin-bottom: 20px;
                }

                .card {
                    flex-direction: column;
                    gap: 15px;

                    .bottom_icon {
                        transform: rotateZ(0deg);
                        width: 32px;
                        height: 32px;
                    }

                    .receiver {
                        .kachelog_amount {
                            margin-bottom: 36px;
                        }
                    }
                }
            }
        }
    }

    .application_payment {
        .content {
            padding: 15px;

            .content_head {
                .timer {
                    gap: 10px;
                    position: relative;
                    align-items: flex-end;
                    padding-bottom: 40px;
                    margin-bottom: 25px;

                    .value {
                        .text_wrapper {
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 5px;
                        }

                        .time_line_wrapper {
                            position: absolute;
                            bottom: 15px;
                            left: 15px;
                            height: 10px;
                            width: calc(100% - 30px);
                        }
                    }
                }
            }

            .content_body {
                .content_item {
                    .item_head {
                        margin-bottom: 20px;
                        gap: 15px;

                        .number {
                            width: 45px;
                            height: 45px;
                            font-size: 18px;
                        }

                        h3 {
                            font-size: 18px;
                            width: calc(100% - 60px);
                        }
                    }

                    .copy {
                        flex-direction: column;
                        transform: translateX(-16px);
                        width: calc(100% + 32px);
                        padding: 15px;
                        gap: 20px;

                        .left {
                            width: 100%;
                            margin-left: 0;
                        }

                        .right {
                            width: 100%;
                            margin-left: 0;
                        }
                    }

                    .text {
                        font-size: 16px;
                        margin-bottom: 25px;
                    }
                }

                .warning {
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 15px;
                    margin-bottom: 25px;

                    .text {
                        width: 100%;
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .contact {
        .contact_title {
            h2 {
                text-align: center;
                margin-bottom: 30px;
            }
        }

        .contact_main {
            gap: 15px;
            
            .contact_main_left {
                padding: 15px;

                .contact_block {
                    gap: 10px;

                    .contact_block_text {
                        width: calc(100% - 34px);
                    }
                    
                    .left_text {
                        display: flex;
                        flex-direction: column;

                        a {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }

    footer {
        .main_container {
            flex-direction: column;
            gap: 15px;

            .text {
                font-size: 14px;
                text-align: center;
            }
        }
    }
}

@media (max-width: 450px) {
    .index {
        #home {
            .home_footer {
                justify-content: center;
                display: flex;
                width: 100%;
            }
        }

        #calculation {
            .calculation_wrapper {
                .calculate {
                    .content {
                        height: 955px;

                        .calculate_mobile_11 {
                            top: 891px;
                            width: calc(100% - 30px);
                        }
                    }
                }
            }
        }

        #comment {
            .link {
                width: 100%;
                display: flex;
                justify-content: center;

                .img {
                    img {
                        width: 32px;
                        height: 32px;
                    }
                }
            }
        }
    }

    .confirmation {
        z-index: 7;

        .content {
            .content_foot {
                flex-direction: column;
                gap: 15px;

                button {
                    width: 100%;
                }
            }
        }
    }

    .comment_modal {
        .content {
            .content_foot {
                display: flex;
                flex-direction: column;
                gap: 15px;

                button {
                    width: 100%;
                }
            }
        }
    }

    .payment_header {
        .content {
            flex-direction: column;
            align-items: flex-start;
            gap: 15px;

            .payment_item {
                font-size: 16px;
            }

            .line {
                border-radius:  0px 10px 10px 0px;
                background: var(--brand, #6552FE);
                width: 3px;
                height: auto;
                left: 0;
                top: 15px;
            }

            .line_1 {
                height: 30%;
            }

            .line_2 {
                height: 60%;
            }

            .line_3 {
                height: calc(100% - 30px);
            }
        }
    }

    .application_payment {
        .content {
            .content_foot {
                flex-direction: column;
                gap: 15px;

                .send,
                .cancel {
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}