@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #02020D;
    color: white;
}

main {
    width: 100%;
    overflow: hidden;
}

.main_container {
    max-width: 1510px;
    padding: 0 50px;
    margin: 0 auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


header {
    .header_wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 16px;
        border: 1px solid rgba(255, 255, 255, 0.25);
        background: rgba(255, 255, 255, 0.02);
        padding: 30px;
        margin-top: 30px;
        margin-bottom: 100px;

        .header_menu {
            display: flex;
            align-items: center;
            gap: 24px;

            .menu_link {
                color: #FFF;
                font-family: "Poppins" sans-serif;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: 110%;
                text-decoration: none;
            }
        }
    }
}

.index {
    #home {
        .index_bg_1 {
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
        }

        .index_bg_2 {
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
        }

        .index_bg_3 {
            position: absolute;
            right: 0;
            top: 588px;
            z-index: -1;
        }

        .index_bg_4 {
            position: absolute;
            z-index: -1;
            top: 593px;
            right: 0;
            width: 1023.134px;
            height: 727.5px;
            object-fit: fill;
        }

        .home_top {
            display: flex;
            gap: 32px;
            flex-wrap: wrap;
            margin-bottom: 64px;

            .text {
                color: #FFF;
                font-family: "Poppins", sans-serif;
                font-size: 64px;
                font-style: normal;
                font-weight: 900;
                line-height: 115%;
                text-transform: uppercase;
            }

            .img {
                position: relative;

                .star {
                    position: absolute;
                    width: 32px;
                    height: 32px;
                    top: 0;
                    right: 0;
                    transform: translate(100%, -100%);
                }

                img {
                    height: 80px;
                    border-radius: 16px;
                    width: 100%;
                }
            }

            .img_1 {
                flex-grow: 1;
                flex-basis: 180px;
            }

            .img_2 {
                flex-grow: 1;
                flex-basis: 180px;
            }

            .img_3 {
                flex-grow: 1;
                flex-basis: 200px;
            }

        }

        .home_body {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 30px;
            margin-bottom: 64px;

            .card {
                width: 100%;
                border-radius: 16px;
                border: 1px solid rgba(255, 255, 255, 0.25);
                background: rgba(255, 255, 255, 0.02);
                backdrop-filter: blur(7.5px);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 32px;
                gap: 30px;

                img {
                    width: 64px;
                    height: 64px;
                    margin-top: 20px;
                }

                h3 {
                    color: #FFF;
                    text-align: center;
                    font-family: "Poppins", sans-serif;
                    font-size: 28px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 115%;
                    margin-bottom: 20px;
                }
            }
        }

        .home_footer {
            background: transparent;
            border: none;
            outline: none;
            color: #FFF;
            font-family: "Poppins", sans-serif;
            font-size: 28px;
            font-style: normal;
            font-weight: 500;
            line-height: 110%;
            display: flex;
            align-items: center;
            margin-bottom: 100px;

            img {
                margin-right: 24px;
            }
        }
    }

    #calculation {
        margin-bottom: 100px;

        .calculation_wrapper {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            .amont_type {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                gap: 30px;
                width: calc(100% - 720px);

                .type_item {
                    width: 100%;

                    .title {
                        color: #FFF;
                        font-family: "Poppins", sans-serif;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 150%;
                        margin-bottom: 30px;
                    }

                    .search {
                        padding: 12px 16px;
                        border-radius: 8px;
                        border: 1px solid #5E5E65;
                        background: rgba(255, 255, 255, 0.05);
                        overflow: hidden;
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        margin-bottom: 30px;

                        input {
                            position: absolute;
                            left: 0;
                            top: 0;
                            height: 100%;
                            width: calc(100% - 40px);
                            padding: 12px 0 12px 16px;
                            background: transparent;
                            border: none;
                            outline: none;
                            color: #999;
                            font-family: "Poppins", sans-serif;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }

                        button {
                            background: transparent;
                            border: none;
                            outline: none;
                        }
                    }

                    .buttons {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;

                        button {
                            padding: 16px;
                            border-radius: 8px;
                            background: rgba(255, 255, 255, 0.15);
                            outline: none;
                            border: none;
                            display: flex;
                            align-items: center;
                            color: #FFF;
                            font-family: "Poppins", sans-serif;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;

                            .img {
                                padding: 10px;
                                width: 48px;
                                height: 48px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background: white;
                                border-radius: 12px;
                                margin-right: 12px;
                            }

                            .text {
                                text-align: left;

                                .text_title {
                                    color: #FFF;
                                    font-family: "Poppins", sans-serif;
                                    font-size: 18px;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: normal;
                                }

                                .text_value {
                                    color: #FFF;
                                    font-family: "Poppins", sans-serif;
                                    font-size: 18px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 120%;
                                }
                            }
                        }

                        .active {
                            background: #6552FE;
                        }

                    }
                }
            }

            .calculate {
                width: 690px;

                .head {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 24px;


                    .head_title {
                        color: #FFF;
                        font-family: "Poppins", sans-serif;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 150%;
                    }

                    .head_value {
                        color: #999;
                        font-family: "Poppins", sans-serif;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        display: flex;
                        align-items: center;

                        img {
                            margin-right: 6px;
                        }
                    }
                }

                .content {
                    border-radius: 16px;
                    background: rgba(255, 255, 255, 0.15);
                    backdrop-filter: blur(7.5px);
                    padding: 30px;
                    display: flex;
                    flex-direction: column;
                    gap: 30px;

                    .input_group {
                        display: flex;
                        align-items: flex-start;
                        justify-content: space-between;
                        gap: 20px;
                        position: relative;

                        .form_control {
                            width: 50%;

                            label {
                                color: #999;
                                font-family: "Poppins", sans-serif;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 120%;
                                display: flex;
                                gap: 12px;
                                margin-bottom: 12px;
                            }

                            .input {
                                border-radius: 8px;
                                background: #FFF;
                                padding: 12px 16px;
                                position: relative;
                                display: flex;
                                align-items: center;
                                justify-content: flex-end;

                                input {
                                    background: transparent;
                                    border: none;
                                    outline: none;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    height: 100%;
                                    width: calc(100% - 95px);
                                    padding: 12px 16px;
                                    color: #02020D;
                                    font-family: "Poppins", sans-serif;
                                    font-size: 18px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: normal;
                                }

                                .calculate_cender {
                                    display: flex;
                                    align-items: center;
                                    color: #999;
                                    font-family: "Poppins", sans-serif;
                                    font-size: 18px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: normal;
                                    gap: 12px;
                                }
                            }
                        }

                        .fio {
                            width: calc(50% - 10px);
                        }

                        .input_receive {
                            label {
                                span {
                                    width: 100%;
                                    display: block;
                                    text-align: right;
                                }
                            }
                        }

                        .calculate_btn {
                            position: absolute;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: none;
                            outline: none;
                            background: transparent;
                            bottom: 12px;
                            left: 50%;
                            transform: translateX(-50%);
                            cursor: pointer;
                        }
                    }

                    .warning {
                        .form_control {
                            label {
                                margin-bottom: 6px;
                            }

                            .input {
                                .calculate_cender {
                                    img {
                                        mix-blend-mode: luminosity;
                                        opacity: 0.5;
                                    }
                                }
                            }

                            .disabled {
                                border-radius: 8px;
                                border: 1px solid rgba(255, 255, 255, 0.50);
                                background: rgba(255, 255, 255, 0.05);

                                .calculate_cender {
                                    opacity: 0.5;
                                    mix-blend-mode: luminosity;
                                }
                            }

                            .email {
                                .calculate_cender {
                                    mix-blend-mode: inherit;
                                    opacity: 1;

                                    img {
                                        opacity: 1;
                                        width: 32px;
                                        height: 32px;
                                    }
                                }
                            }
                        }

                        .input_receive {
                            label {
                                span {
                                    text-align-last: left;
                                }
                            }
                        }
                    }

                    .line {
                        height: 1px;
                        opacity: 0.1;
                        background: #FFF;
                    }

                    .check {
                        input {
                            display: none;
                        }

                        label {
                            color: #FFF;
                            font-family: "Poppins", sans-serif;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 120%;
                            position: relative;
                            display: flex;
                            align-items: center;
                            gap: 8px;

                            div {
                                display: inline-block;
                                opacity: 0.30000001192092896;
                            }

                            span {
                                color: #FFF;
                                font-family: "Poppins", sans-serif;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                                text-decoration-line: underline;
                            }
                        }
                    }

                    .submit {
                        outline: none;
                        border: none;
                        border-radius: 8px;
                        background: #6552FE;
                        color: #FFF;
                        font-family: "Poppins", sans-serif;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        width: 218px;
                        padding: 12px 0;
                    }
                }
            }
        }
    }

    #comment {
        h1 {
            color: #FFF;
            font-family: "Poppins", sans-serif;
            font-size: 48px;
            font-style: normal;
            font-weight: 600;
            line-height: 110%;
            margin-bottom: 50px;
        }

        .body {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 30px;
            flex-wrap: wrap;
            margin-bottom: 50px;

            .card {
                width: calc(100% / 3 - 20px);
                border-radius: 16px;
                background: rgba(255, 255, 255, 0.15);
                padding: 30px;

                .card_head {
                    color: var(--ffffff, #FFF);
                    font-family: "Poppins", sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    margin-bottom: 16px;
                }

                .card_body {
                    color: var(--ffffff, #FFF);
                    font-family: "Poppins", sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                    margin-bottom: 16px;
                }

                .card_foot {
                    color: var(--text-666666, #666);
                    font-family: "Poppins", sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                }
            }
        }

        .link {
            display: flex;
            align-items: center;
            gap: 24px;
            color: var(--ffffff, #FFF);
            font-family: "Poppins", sans-serif;
            font-size: 28px;
            font-style: normal;
            font-weight: 500;
            line-height: 110%;
            text-decoration: none;
            margin-bottom: 96px;
        }
    }
}

footer {
    background: rgba(101, 82, 254, 0.25);
    backdrop-filter: blur(50px);
    padding: 30px 0;

    .main_container {
        display: flex;
        align-items: center;
        justify-content: space-between;


        .text {
            color: #999;
            font-family: "Poppins", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
        }
    }
}